{% extends "base.html" %}

{% block title %}Compositions{% endblock %}

{% block content %}
    {% if form.errors %}
     <p>Erreur dans la saisie du user ou du mot de passe.</p>
    {% endif %}
    <form method="POST">
        </br>
        </br>
        Compositions Admin authentication :
        </br>
        </br>
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        </br>
        <input type="submit" value="login">
    </form>
{% endblock %}