body {
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgb(35, 34, 34);
}

a:visited {
    color: #FFFFFF; /* Couleur du texte en blanc pour les liens visités */
}

.titre {
    font-family: sans-serif;
    color: cornflowerblue;
    background-color: rgb(35, 34, 34);
}

.card {
    width: 60%;
    padding: 1%;
    background-color: #373737;
    border-radius: 10px 10px 10px 10px;
    border-color: #FFFFFF;
    display: table;
    margin: 0 auto;
}

.card_action {
    width: 30%;
    padding: 1%;
    /* background-color: #f1f1f1; */
    /* border-radius: 10px 10px 10px 10px; */
    display: table;
    margin: 0 auto;
    margin-right: 10%;
    text-align: center;
}

.card_back {
    width: 30%;
    padding: 1%;
    /* background-color: #f1f1f1; */
    /* border-radius: 10px 10px 10px 10px; */
    display: table;
    margin: 0 auto;
    margin-right: 10%;
    text-align: right;
}

.bg-custom {
    background: linear-gradient(to bottom, #251b8f 0, #251b8f 100%);
}