{% extends "base.html" %}
{% load static %}

{% block title %}Compositions{% endblock %}
{% block content %}
    <br>
    <h1 class="text-center">ARTSEN - Compositions</h1>
    </br>
    <p>
        <em>&nbsp;Last 5 works :</em>
    </p>
    </br>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th width="5%"></th>
                <th width="40%">Work</th>
                <th width="10%">Duration</th>
                <th width="20%">End date</th>
            </tr>
        </thead>
        <tbody>
            {% for morceau in morceaux %}
            <tr class="table-light">
                <th></th>
                <td>{{morceau.nom}}</td>
                <td>{{morceau.duree}}</td>
                <td>{{morceau.date_fin | date:"d/m/Y"}}</td>
            </tr>
            {% endfor %}      
        </tbody>
    </table>
    <p>
        [ Total : {{ nb_compositions }} works ]
    </p>
{% endblock %}
