{% extends "base.html" %}
{% load static %}

{% block title %}Compositions{% endblock %}
{% block content %}
<form method="post" action="">
    {% csrf_token %}
    <br>
    <h1 class="text-center">CONFIG - Configuration Compositions</h1>
    <br>
    </br>
    <table style="width: 100%">
        <tr>
            <td>
                Compositions Version : {{VERSION}}</br>Last update : xx
            </td>
            <td>
                <em>The config file is stored in static/config/compositions.yaml.</em>
            </td>
        </tr>
        <tr>
            <td>
                </br>
                <b>DISPLAY</b>
            </td>
            <td>
            </br>
            <b>SAVE</b>
        </td>
        </tr>
        <tr>
            <td>
                <li>Website name : {{ form.display_website_name }}
            </td>
            <td>
                <li>Backup the SQLite database :
                        <button type="submit" name="backup">Backup</button>
            </td>
        </tr>
        <tr>
            <td>
                </br>
                <b>NEWS</b>
            </td>
            <td>
                </br>
                <b>MUSICS</b>
            </td>
        </tr>
        <tr>
            <td>
                <li>Sort the News by Creation Date (else by id order) : {{ form.news_print_sorted_creation_date }}
            </td>
            <td>
                <li>Default view to print musics is list : {{ form.musics_list_view }}
            </td>
        </tr>
        <tr>
            <td>
                <li>Display Creation Date : {{ form.news_print_creation_date }}
            </td>
            <td>
                <li>Number musics per page (in list mode) : {{ form.news_print_number_musics_page }}
            </td>
        </tr>
        <tr>
            <td>
                <li>Display Type of News : {{ form.news_print_news_type }}
            </td>
            <td>
                <li>Display hits for users : {{ form.musics_print_hits }}
            </td>
        </tr>
        <tr>
            <td>
                <li>Section : Print the last 5 music creations : {{ form.news_print_last_five_music }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <li>Section : Print News : {{ form.news_print_news }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <li>Section : Print text Welcome : {{ form.news_print_text_welcome }}</br>
                    Text path for Welcome : {{ form.news_text_input_welcome }}
            </td>
            <td>
            </td>
        </tr>
        <tr>
            <td>
                <li>Section : Print image Welcome : {{ form.news_print_image_welcome }}</br>
                    Image path for Welcome : {{ form.news_image_input_welcome }}
            </td>
            <td>
            </td>
        </tr>
    </table>
    </br>
    </br>
    <button class="btn btn-success" type="submit" name="update">Update</button>
</form>
</br>
</br>
{% endblock %}
