{% extends "base.html" %}
{% load static %}

{% block title %}Compositions{% endblock %}
{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <br>
        <h1 class="text-center">SETTINGS - Import new musical compositions</h1>
        <br>
        <em>Please select from which Instruments/DAW directory you want songs to be imported.</em>
        </br>
        <em>Nota : All compositions which are locked will not be included into the possible imports.</em>
        </br>
        </br>
        <p>
            => If some instruments or DAW not refered there, please add/modify there :
            <a href="/morceaux/instruments">Instruments/DAW management</a> </p>
        <p>
        <div style="margin-left: 5em;">
            {% for instrument in instruments %}
                <div class="form-check">
                    <input class="form-check-input" name="chk" type="checkbox" value="{{ instrument.nom }};{{ instrument.repertoire }}" id="flexCheckChecked" unchecked>
                    <label class="form-check-label">
                        {{ instrument.nom }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[{{ instrument.repertoire }}]
                    </label>
                </div>
            {% endfor %}
        </div>

        <div class="card_action">
            <button class="btn btn-danger" type="submit">Execute</button>&nbsp;
            <a class="btn btn-info" href="{% url 'index' %}">Cancel</a>
        </div>
</form>
{% endblock %}
