{% extends "base.html" %}

{% block title %}ARTSEN{% endblock %}
{% block content %}
    <br>
    <h1 class="text-center">Instruments & DAWs</h1>
    </br>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th width="5%"></th>
                <th width="40%">Instrument or Software</th>
                <th width="45%">Directory</th>
            </tr>
        </thead>
        <tbody>
            {% for instrument in instruments %}
            <tr class="table-light">
                <th></th>
                <td>{{instrument.nom}}</td>
                <td style="text-align: left;">{{instrument.repertoire}}</td>
            </tr>
            {% endfor %}      
        </tbody>
    </table>

    <div class="card_back">
        <a class="btn btn-info" href="{% url 'index' %}">Back</a>
    </div>
    </br>
    </br>
{% endblock %}
