{% extends "base.html" %}

{% block title %}Compositions{% endblock %}

{% block content %}
    <br>
    <h1 class="text-center">{{ action_label }} Instruments & DAWs</h1>
    <br>
    <form method="POST">
        {% csrf_token %}
        <table style="width:100%;">
            <tr>
                <td style="width:'80%';align:'center';">
                    <div class="card">
                        <div class="row">
                            <div class="col-md-2">{{ form.nom.label_tag }}</div>
                            <div class="col-md-6">{{ form.nom }}</div>
                        </div>
                        </br>
                        <div class="row">
                            <div class="col-md-2">{{ form.repertoire.label_tag }}</div>
                            <div class="col-sm-2">{{ form.repertoire }}</div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <!-- <button type="submit">Mettre à jour</button> -->
                    <div class="card_action">
                        </br>
                        <button class="btn btn-success" type="submit">Save</button>&nbsp
                        <a class="btn btn-info" href="{% url 'instruments_list' %}">Cancel</a>&nbsp
                    </div>
                </td>
            </tr>
        </table>
    </form>
    </br>
    </br>
{% endblock %}