{% extends "base.html" %}
{% load static %}

{% block title %}ARTSEN{% endblock %}
{% block content %}
    <br>
    <h1 class="text-center">List of musical compositions</h1>
    <p>
        Liste complète des compositions écrites.
    </p>

        <div class="container">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col col-sm-3 col-xs-12">
                                    <h4 class="title">Data <span>List</span></h4>
                                </div>
                                <div class="col-sm-9 col-xs-12 text-right">
                                    <div class="btn_group">
                                        <form role="search" method="POST" action="{% url 'blog-search-post' %}">
                                        {% csrf_token %}
                                            <input type="search" class="form-control me-2" placeholder="Search" name="search_query" required aria-label="Search">
                                            <button class="btn btn-outline-success" type="submit">Search</button>

                                        {% if user.is_authenticated %}
                                        &nbsp;
                                        <a href="morceau_nouveau"><img src="{% static "images/add.png" %}" width="30px" height="30px" title="Add"/></a>
                                        {% endif %}
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>TITLE</th>
                                        <th>DURATION</th>
                                        <th>START DATE</th>
                                        <th>END DATE</th>
                                        {% if user.is_authenticated %}
                                        <th>Action</th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for morceau in morceaux %}
                                    <tr>
                                        <td>{{morceau.id}}</td>
                                        <td>
                                            <a href="{% url 'detail' morceau.id %}">
                                                {{morceau.nom}}
                                            </a>
                                        </td>
                                        <td>{{morceau.duree}}</td>
                                        <td>{{morceau.date_debut}}</td>
                                        <td>{{morceau.date_fin}}</td>
                                        {% if user.is_authenticated %}
                                        <td>
                                            <div class="d-flex align-items-center">
                                            <ul class="action-list">
                                                <a href="morceau_editer/{{morceau.id}}"><img src="{% static "images/edit.png" %}" width="20px" height="20px" title="Edit"/></a>
                                                <a href="morceau_supprimer/{{morceau.id}}"><img src="{% static "images/delete.png" %}" width="20px" height="20px" title="Delete"/></a>
                                            </ul>
                                            </div>
                                        </td>
                                        {% else %}
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="col col-sm-6 col-xs-6">showing <b>5</b> out of <b>25</b> entries</div>
                                <div class="col-sm-6 col-xs-6">
                                    <ul class="pagination hidden-xs pull-right">
                                        <li><a href="#"><</a></li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li><a href="#">></a></li>
                                    </ul>
                                    <ul class="pagination visible-xs pull-right">
                                        <li><a href="#"><</a></li>
                                        <li><a href="#">></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
        <div class="card_back">
            <a class="btn btn-info" href="{% url 'index' %}">Back</a>
        </div>
{% endblock %}
