{% extends "base.html" %}
{% load static %}

{% block title %}Compositions{% endblock %}
{% block content %}
    <br>
    <h1 class="text-center">Music styles</h1>
    </br>
    <table class="table">
        <thead class="table-success">
            <tr>
                <th width="5%"></th>
                <th width="75%">Style</th>
                <th width="15%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for style in styles %}
            <tr class="table-light">
                <th></th>
                <td>{{style.nom}}</td>
                <td>
                    <div class="d-flex align-items-center">
                        <ul class="action-list">
                            <a href="../style_edit/{{style.id}}"><img src="{% static "images/edit.png" %}" width="20px" height="20px" title="Edit"/></a>
                            <a href="../style_delete/{{style.id}}"><img src="{% static "images/delete.png" %}" width="20px" height="20px" title="Delete"/></a>
                        </ul>
                    </div>
                </td>
            </tr>
            {% endfor %}      
        </tbody>
    </table>
    <div class="card_back">
        {% if user.is_authenticated %}
        <a class="btn btn-primary" href="{% url 'style_new' %}">New</a>&nbsp
    {% endif %}
        <a class="btn btn-info" href="{% url 'index' %}">Cancel</a>
    </div>
    </br>
    </br>
{% endblock %}
