{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <link rel="stylesheet" href="{% static 'website/style.css' %}">
        {% if request.get_full_path == "/biography" %}
            <link rel="stylesheet" href="{% static 'website/biography.css' %}">
        {% endif %}
        {% if request.get_full_path == "/morceaux/" %}
            <link rel="stylesheet" href="{% static 'fonts/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'morceaux/morceaux.css' %}">
        {% endif %}
    </head>
    <body>
        <!-- {{request.get_full_path}} -->
        <!-- Alerts ? -->
        <!-- alert-success, alert-info, alert-warning, alert-danger -->
        {% if ALERT_TYPE != null %}
        <div class="alert {{ALERT_CLASS}} alert-dismissible fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>{{ALERT_TYPE}} : </strong> {{ALERT_MESSAGE}}
        </div>
        {% endif %}

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">ARTSEN</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">News</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/biography">Biography</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/morceaux">Music</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Settings</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item text-dark" href="#">
                                {% if user.is_authenticated %}
                                    Logged in as : {{ user.get_username }}
                                </a></li>
                                    <form method="POST" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <!-- <button type="submit">Logout</button>-->
                                        <li><a class="dropdown-item text-dark" href="{% url 'logout' %}">Logout</a></li>               
                                    </form>
                                {% else %}
                                    <a class="dropdown-item text-dark text-left" href="{% url 'login' %}">Login</a>
                                {% endif %}
                      
                      <li><a class="dropdown-item text-dark" href="#">Import</a></li>
                      <li><a class="dropdown-item text-dark" href="/morceaux/styles">Styles</a></li>
                      <li><a class="dropdown-item text-dark" href="/morceaux/instruments">Instruments</a></li>
                      <li><a class="dropdown-item text-dark" href="#">Config</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
        <div class="container-fluid fixed-bottom navbar-light bg-light">
            <a class="navbar-brand fs-6">&#169 ARTSEN - 2024</a>
        </div>
    </body>
</html>
